@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');


body{
    margin: 0% 0%;
    background-color: lightgray;
}
header{
    width: 100%;
    height: 100px;
    padding: 1.5% 0%;
    background: radial-gradient(rgb(58, 57, 57),black);
    color: darkgoldenrod;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    text-align: center;
}

header h2{
    margin-top: 1.5%;
}

.circulo-a{
    width:  80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
}
    
.circulo-a:nth-of-type(1){
    left: 5%;
    top: 1%;
    background-color: darkkhaki;
    animation-name: ocultar-aparecer;
    animation-duration: 5.01s;
    animation-iteration-count: infinite;
}

.circulo-a:nth-of-type(2){
    left: 15%;
    top: 6.5%;
    background-color: rgb(184, 27, 27);
    animation-name: ocultar-aparecer;
    animation-duration: 5.02s;
    animation-iteration-count: infinite;
}

.circulo-a:nth-of-type(3){
    left: 25%;
    background-color: darkred;
    animation-name: ocultar-aparecer;
    animation-duration: 5.03s;
    animation-iteration-count: infinite;
}

.circulo-b{
    width:  80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    background-color: forestgreen;
}

.circulo-b:nth-of-type(4){
    background-color: darkkhaki;
    left: 90%;
    top: 1%;
    animation-name: ocultar-aparecer;
    animation-duration: 5.01s;
    animation-iteration-count: infinite;
}

.circulo-b:nth-of-type(5){
    background-color: rgb(184, 27, 27);
    left: 80%;
    top: 6.5%;
    animation-name: ocultar-aparecer;
    animation-duration: 5.02s;
    animation-iteration-count: infinite;
}

.circulo-b:nth-of-type(6){
    background-color: darkred;
    left: 70%;
    top: 3%;
    animation-name: ocultar-aparecer;
    animation-duration: 5.03s;
    animation-iteration-count: infinite;
}

@keyframes ocultar-aparecer {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

main{
    text-align: center;
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
}

.botones{
    width: 20%;
    margin: 2% auto;
}

.botones > a button{
    width: 35%;
    display: inline-block;
    text-align: center;
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
    border: 2px;
    border-radius: 3px;
    border-style: solid;
    background-color: blanchedalmond;
    margin-left: 5%;
    transition: 1s;
}

.botones > a:first-child button{
    transform: scale(1.1,1.1);
    border-color: darkgoldenrod;
}

.botones  > a:last-child:hover button{
    width: 37%;
    border-color: forestgreen;
    cursor: pointer;
}

.formulario-vino{
    width: 40%;
    height: fit-content;
    margin: 0% auto;
    margin-bottom: 2%;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    transition: 1s;
}

.formulario-vino:hover{
    border-color: forestgreen;

}

.button-ev{
    width: 12%;
    font-family: "Eagle Lake", serif;
    font-weight: bolder;
    font-style: normal;
    border-radius: 5px;
    margin-bottom: 2%;
    background-color: blanchedalmond;
    transition: 1s;
}

.button-ev:hover{
    width: 17%;
    border-color: forestgreen;
    cursor: pointer;
}

#select{
    width: fit-content;
    height: 3.5%;
    background-color: blanchedalmond;
    font-family: "Eagle Lake", serif;
    font-weight: bolder;
    font-style: normal;
    transition: 1s;
    margin-bottom: 3%;
}

#select:hover{
    border-color: forestgreen;
    border-radius: 5px;
}

.campos{
    width: 100%;
    text-align: left;
    margin: 0% auto;
    text-align: center;
}


input{
    width: 9%;
    margin-left: 2%;
    font-family: "Eagle Lake", serif;
    font-weight: bolder;
    font-style: normal;
    background-color: blanchedalmond;
    border-radius: 5px;
    transition: 1s;
}

input:hover{
    width: 10%;
    border-color: forestgreen;
}

.animacion-1{
    width: 2.5vw;
    height: 5vh;
    display: inline-block;
    transform: translate(10%,40%);
    border-left-style: solid;
    border-bottom-style: solid;
    transition: 1.5s;
    border-color: black;
}

/* .animacion-1:hover{
    width: 0vw;
    height: 0vh;
} */

.regresion{
    width: 100%;
    height: 5vh;
    transform: translate(15%,54%) rotate(45deg);
    border-left-style: solid;
    border-color: darkred;
    transition: 1s;
    transition-delay: 0.8s;
}

/* .regresion:hover{
    width: 0%;
    border: 0px;
} */

.animacion-2{
    width: 0vw;
    height: 0vh;
    /* width: 3.5vw;
    height: 6vh; */
    display: inline-block;
    transform: translate(10%,40%);
    border-style: solid;
    border-color: transparent;
    transition: 1.5s;
}

.knn{
    width: 0%;
    height: 0vh;
    /* width: 20%;
    height: 1.5vh; */
    border-radius: 50%;
}

.knn:nth-child(1){
    background-color: darkred;
    transform: translate(60%,50%);
}

 .knn:nth-child(2){
    background-color: darkred;
    transform: translate(120%,80%);
}

.knn:nth-child(3){
    background-color: darkblue;
    transform: translate(350%,50%);
} 

.circulo{
    width: 40%;
    height: 4.5vh;
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
    transform: translate(8%,-85%);
    transition: 1.5s;
}


footer{
    width: 100%;
    background: radial-gradient(rgb(58, 57, 57),black);
    text-align: center;
    padding: 1.5% 0%;
    color: darkgoldenrod;
    display: flex;
}

footer > h2{
    margin-left: 30%;
    margin-top: 2%;

}

.nombres{
    margin-left: 2%;
}

.evaluacion{
    width: 40%;
    height: fit-content;
    margin: 2% auto;
}

.evaluacion > h3{
    width: fit-content;
    display: inline-block;
}

.barra{
    width: 30%;
    height: 2vh;
    border-style: solid;
    border-color: black;
    display: inline-block;
    transform: translateY(25%);
}

.content{
    width: 0%;
    height: 2vh;
    transition: 1s;
}