<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Evaluacion vinos</title>
</head>
<body>
    <header>
        <div class="circulo-a"></div>
        <div class="circulo-a"></div>
        <div class="circulo-a"></div>
        <h2>Sistema de Aprendizaje Automático</h2>
        <div class="circulo-b"></div>
        <div class="circulo-b"></div>
        <div class="circulo-b"></div>
    </header>
    <main>
        <h1 class="title">EVALUACION DE VINOS</h1>
        <div class="formulario-vino">
            <h2>Pon la característica de tu vino y lo evaluaremos</h2>
            <h5 class="title-select">Configuracion --</h5>
            <select class="select">
                <option value="regresion">Regresion</option>
                <option value="knn">KNN</option>
            </select>
            

            <button class="button-ev">Evaluar</button>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>